@import "tailwindcss";
@import "@nuxt/ui";

body {
    background: #111;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: calc(32px - 5px);
}

h3 {
    font-size: calc(32px - 10px);
}

h2.page-header {
    margin: 20px 0;
}

hr {
    margin: 20px 0;
}

p {
    padding: 10px 10px;
}

.main-text {
    font-size: 72px;
}

#body a {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
    text-decoration-line: underline;
}